<%- include('header.ejs'); %>
<head>

	<link href="adash_style.css" rel="stylesheet" type="text/css">

</head>
		<div class="content">
			
			<div class=text-up>
				<h1>Admin Dashboard</h1> 
			</div>


			<div>
	
		
        <a href="/umanager" class="umB">User Manager</a> 

	</div>
	<div class="">
		<a href="/home" class="umB">Home</a>
	</div>


	</body>
</html>