<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= page %></title>
		<link href="style_home.css" rel="stylesheet" type="text/css">
		<link href="adash_style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
	</head>
	<body class="loggedin">
        <header>
		    <nav class="navtop">
			    <div>
				   <!-- <h1>Marceli's cool website</h1>  -->
				       <!-- <h1>                      </h1> -->
						    <h1>    MarcelloOFF.pl    </h1>
					<% if (isAdmin === true) { %>
						<a href="adash"><i class="fa-solid fa-unlock"></i>ADash</a>
					<% } %>
				    <a href="profile"><i class="fas fa-user-circle"></i>Profile</a>
				    <a href="logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
			    </div>
		    </nav>
        </header>