<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Password Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="style.css">
  </head>

 <body>   
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Password reminder</span>
    
                <form action="/passwd" method="post">
                    <div class="input-field">
                        <input type="text" placeholder="Enter your name" name="username" id="username" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" name="email" id="email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
    
                    <div class="input-field button">
                        <input type="submit" value="Send">
                    </div>
                </form>
    
                <div class="login-signup">
                    <span class="text">Already a member?
                        <a href="/" class="text signup-link">Login Now</a>
                    </span>
                </div>

            </div>
        </div>
    </div>

    <script src="common.js"></script>

  </body>
</html>