<%- include('header.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Manager</title>
    <link href="adash_style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="content">
    <div class="offline">
    <h2>             tu ma być zarządzane urzytkownikami
        czyli zmiana hasła i usuwanie urzytkowników</a>
    </h2>
</div>
<div>
<a href="/adash" class="umB">Back</a>
</div>
</div>
<style>
    .offline > h2 {
        color: blue
    }
 
</style>
</body>
</html>